body{
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Space Mono', monospace;
    background-color: rgb(41, 41, 49);
    color: white;
    margin: 0;   
}
a{
    text-decoration: none;
    color: white;
}
/*NAV BAR*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    font-size: 16px;
    padding: 5px 0px;
    transition: 0.5s ease;
}

.nav-color-bg{
    background-color: rgb(36, 35, 35);
}

nav ul{
    list-style-type: none;
    display: flex
}

.t-left{
    width: 30%;
    padding: auto;
    font-size: 20px;
}

.t-right{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.t-right a{
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 30px;
    transition: border 0.5s ease;
}

.t-right a:hover{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
/*BANNER*/
.banner{
    width: 100%;
    height: 600px;
    background-image: url(../img/SpaceShooterGame.png);
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-info{
    text-align: center;
    width: 50%;
}    
.info-title{
    font-size: 30px;
}
.info-role{
    font-size: 25px;
}

.banner-info p{
    text-align: justify;
    font-size: 17px;
    padding: 0px 4%;
}

.sm-group{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
}
.sm-group i{
    margin: 0px 10px;
    color: white;
    transition: .1s ease;
}
.sm-group i:hover{
    opacity: .7;
    transform: scale(1.1, 1.1);
}
/**PORTFOLIO INFO**/
.info-content{
    margin: 40px 60px;
    font-size: 20px;
}

.link-ref a:hover{
    text-decoration: underline;

}

.info-content-exp{
}

/*PROJECT CARDS*/
.card-container{
    display: flex;
    margin: 10px 35px;
    /*background-color: black;    */
    height: 350px;
}
/*FULL CARD*/
.card-info{
    margin: 20px 10px;
}

/*CARD TEXT PARAGRAPH*/
.card-text{
    /*background-color: aquamarine;*/
    width: 50%;
    margin-right: 40px;
}
.card-title{
    font-size: 30px;
}
.card-paragraph{
    font-size: 15px;
    text-align: justify;
}
/*CARD IMAGE*/
.card-img{
    display: flex;
    width: 50%;
    /*background-color: red;*/
}
.card-img img, video{
    width: 100%;
    border: 3px solid rgb(122, 123, 141);
    border-radius: 10px;
    transition: .1s ease;
}

.card-img img:hover, video:hover{
    opacity: .7;
    border: 3px solid rgb(109, 137, 228);
    transform: translateY(-3%);    
}



.info-content-ab{
}
.info-content-ct{
}

